.serviceProviders {
  display: flex;
}
.serviceProvidersRight {
  flex: 4;
}

.serviceProvidersImage {
  width: 40px;
  border-radius: 50%;
}
.deleteServiceProviderIcon {
  cursor: pointer;
  color: red;
}

@media only screen and (max-width: 600px) {
  .serviceProviders {
    display: flex;
    flex-direction: column;
  }
}
