body{
    text-align: justify;
}
.tech{
    width: 150px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    background-color:blanchedalmond;
    width: 180px;
    height: 180px;
    margin: 10px;
}