.header{
    background-image: url(../../../images/header-img.jpg);
    width: 100%;
    height: 625px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}