.consumers {
  display: flex;
}

.consumersRight {
  flex: 4;
}

.consumerImage {
  width: 40px;
  border-radius: 50%;
}


.deleteConsumerIcon{
  cursor: pointer;
  color: red;
}

@media only screen and (max-width: 600px) {
  .consumers{
      display: flex;
      flex-direction: column;
  }
}