.animation{
    color: #000080;
    text-align: center;
    border-radius: 50%;
    background-color: aliceblue;
    width: 105px;
    height: 105px;
}
.animation:hover{
    color: white;
    background-color: #000080;
}