.orderList{
    display: flex;
}

.orderListRight{
    flex: 4;
}
.orderListRightBottom{
    margin-top: 50px;
}


@media only screen and (max-width: 600px) {
  .orderList{
      display: flex;
      flex-direction: column;
  }
}