.link{
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    font-weight: 600;
}
.link:hover{
    text-decoration: none;
    color: lightgray;
    background-color: rgb(99, 99, 99);
}
#login-btn{
    background-color: white;
    border: 2px solid white;
    padding: 0px 15px;
    border-radius: 5px;
}