.navLink{
    text-decoration: none;
    color: rgb(255, 140, 140);
    padding: 12px 25px;
    font-weight: 600;
    font-size: 14pt;
}
.link:hover{
    text-decoration: none;
    color: rgb(248, 95, 95);
    background-color: rgb(255, 220, 220);
    border-radius: 8px;
}

.userImage{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 12px 25px;
    cursor: pointer;
}

.logout-tooltip{
    cursor: pointer;
}