.blog-details-container{
    -webkit-box-shadow: -2px 3px 17px 9px #828282; 
    box-shadow: -2px 3px 17px 9px #828282;
    margin: 40px;
    border-radius: 12px;
}

.blog-content-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}

.blog-details-div{
    padding-left: 25px;
}

.blog-details-div h3{
    font-weight: 700;
    padding-bottom: 20px;
}

.blog-details-container img{
    border-radius: 10px;
    max-width: 800px;
}


@media only screen and (max-width: 600px) {
    .blog-details-container img{
        border-radius: 10px;
        max-width: 300px;
        min-width: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .blog-content-div{
        flex-wrap: wrap;
    }
    .blog-details-div{
        padding-top: 10px;
        padding-left: 0px;
    }
    .blog-details-div h3{
        text-align: start;
    }
}