.popular-blog h2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blogs-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

